__pycache__/
*.pyc
/.env
/.env.local
/env/
/.venv/
/runs/
/models/
/.cache/
/artifacts/**
!/artifacts/
/artifacts/logs/*
!/artifacts/.gitkeep
!/artifacts/logs/
!/artifacts/logs/.gitkeep
/artifacts/logs/*.jsonl
/artifacts/logs/*.log
!/artifacts/models/
/artifacts/models/*
!/artifacts/models/.gitkeep
!/artifacts/outputs/
/artifacts/outputs/*
!/artifacts/outputs/.gitkeep
/app/refs/*.wav
.DS_Store
.idea/
.vscode/
